

body{
    
     
}

.container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 100px;
    width: 100%;
    height: 100vh;
    background-image: url(img/cloud-forest-landscape.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.box_login{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(2px);
    border: solid 1px white;

}

h1{
    font-family:'Times New Roman', Times, serif;
    font-style:normal;
    font-size:larger;
    font-display: flex;}

label[for=email]{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70%;
    box-shadow: none;
}

input[type=email]{
    outline:none;
    background-color: transparent;
    border-style:groove;
    border-radius: 4px;
}

label[for=password]{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70%;
    box-shadow: none;

}

input[type=password]{
    outline: none;
    background-color: transparent;
    border-style:groove;
    border-radius: 4px;
}


